:root {
    color-scheme: dark;
    scrollbar-color: rgba(255, 255, 255, 0.2) rgb(64, 64, 64);
}

body {
    font-family: 'Fira Mono', monospace;
    font-weight: 400;
}

#app {
    scrollbar-color: rgba(255, 255, 255, 0.1);
}

.dropzone-highlight {
    background-color: rgba(255, 255, 255, 0.1);
}

.error {
    color: #f56565;
}

.warning {
    color: #faf089;
}

.info {
    color: #cbd5e0;
}

.stacktrace {
    color: #f56565;
}

.class-path {
    color: #427c73;
}

.class-name {
    color: #8de3dd;
}

.method {
    color: #f5dcae;
}

.class-file {
    color: #69ada6;
}

.jar {
    color: #adad87;
}

.mixin-list {
    color: #427c73;
}

.repeated {
    color: rgba(128, 128, 128, 0.5);
}

.unknown {
    color: #cbd5e0;
}

.target {
    font-weight: 700;
    text-decoration: dashed underline #cbd5e0 1px;
}
