body {
    font-family: 'Fira Mono', monospace;
    font-weight: 400;
}

#app {
    scrollbar-color: rgba(255, 255, 255, 0.1);
}

.dropzone-highlight {
    background-color: rgba(255, 255, 255, 0.1);
}

.log-container {
    text-wrap: nowrap;
}

.error {
    color: #F56565;
}

.warning {
    color: #FAF089;
}

.info {
    color: #CBD5E0;
}

.repeat {
    color: rgba(128, 128, 128, 0.5)
}

.unknown {
    color: #CBD5E0;
}

:target {
    background: white;
    color: black;
}