:root {
    color-scheme: dark;
    scrollbar-color: rgba(255, 255, 255, 0.2) rgb(64, 64, 64);
}

body {
    font-family: 'Fira Mono', monospace;
    font-weight: 400;
}

#app {
    scrollbar-color: rgba(255, 255, 255, 0.1);
}

.dropzone-highlight {
    background-color: rgba(255, 255, 255, 0.1);
}

.log-container {
    text-wrap: nowrap;
}

.error {
    color: #f56565;
}

.warning {
    color: #faf089;
}

.info {
    color: #cbd5e0;
}

.stacktrace {
    color: #f56565;
}

.class-path {
    color: #c5e3f7;
}

.class-name {
    color: #e2c29d;
}

.method {
    color: #bb8e5d;
}

.class-file {
    color: #e4dbab;
}

.jar {
    color: #f7f6f3;
}

.mixin-list {
    color: #8b9291;
}

.repeated {
    color: rgba(128, 128, 128, 0.5);
}

.unknown {
    color: #cbd5e0;
}

:target {
    background: white;
    color: black;
}
